# UI (OrangeHRM)
BASE_URL=https://opensource-demo.orangehrmlive.com
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=admin123

# API (ReqRes) — https://app.reqres.in/api-keys
API_BASE_URL=https://reqres.in
REQRES_PUBLIC_KEY=pub_59aefcd965c07769d7e5587327c6b03ef5a66426f083c8e03ee296e9fe9a64f3
REQRES_ENV=off
